{% extends 'base.html' %}
<!-- 외부에서 socialaccount 기능을 가져와 사용함을 알림 -->
{% load socialaccount %}
<!-- 로그인 페이지의 기본적 템플릿 등을 가져와 사용함을 알림 -->
{% providers_media_js %}

{% block content %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1>Album example</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                    creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                    entirely.</p>
                <p>
                    <a href="{%url 'new' %}" class="btn btn-primary my-2">Add Post</a>
                    <a href = "{%url 'create10' %}" class = "btn btn-secondary my-2">create 10 Post</a>
                </p>
            </div>
        </section>

        <!-- 소셜 로그인 -->
        <a href="/accounts/signup">회원가입</a><br>
        <!-- 직접 구현하지 않아도 페키지에서 url을 만들고 연결해줌 -->

        {% if user.is_authenticated %} <!-- 로그인된 상태일때 로그아웃 기능, 현재상태 제공 -->
        <a href="/accounts/logout">로그아웃</a><br>
        {{user.username}} 님이 로그인 중

        {% else %}
        <a href="/accounts/login">Login</a> <!-- 로그인 상태가 아니라면 로그인 기능 제공 -->
        <a href="{% provider_login_url 'google' %}">Login with google</a><br>
        <!-- 구글 로그인 사용할 것이라고 알림 -->


        {% endif %}

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    {% for post in posts.all %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            {% if post.image != '' %}
                            <img class="card-img-top" src="{{ post.image.url }}" height="225" alt="Card image cap">

                            {% else %}
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">No image</text></svg>
                    
                            {% endif %}

                            <div class="card-body">
                                <h4>{{ post.title }}</h4>
                                <p class="card-text">{{ post.summary }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url 'detail' post.id %}';"> View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url 'delete' post.id %}';">Del</button>
                                    </div>
                                    <small class="text-muted">{{ post.pub_date }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}